*{margin: 0; padding: 0%; box-sizing: border-box; text-align: center;}

body{background-color: rgb(204,204,204)}

header{margin-top: 1px;   }
.nav{          
    display: flex;  flex-direction: column; 
    background-color: rgb(204,204,204);
    position: sticky; top: 0;                                           
    justify-content: center; align-items: center; 
    padding: 1%;
    max-width: 100%; width: 100%;
    border-bottom: 1px rgb(255, 255, 255) dotted;  margin-bottom: 1em; 
    
       & h1 { 
        font-size: 1.2em; /* Tamaño del título en em (ajustado) */
        text-align: center; /* Centrar el título */
        /* padding: 2% 0; Espaciado en porcentaje (ajustado) */
        margin: .2%; 
      }
      & .titulos2 { 
        font-size: 1.2em; /* Tamaño del título en em (ajustado) */
        text-align: center; /* Centrar el título */
        /* padding: 2% 0; Espaciado en porcentaje (ajustado) */
        margin: .2%;

      }  
    }
 
    
main{
    padding: 1em;
    display: flex;   flex-direction: column;
    justify-content: center; align-items: center; 
    max-width: 100%; width: 100%;
}
.row{
    display: flex;
    padding: 1%;
    max-width: 100%; width: 100%;
    flex-wrap: wrap;
}
.column{ 
    flex: 25%;
    padding: 5px; 
    & img{object-fit: cover; max-width: 100%; width: 100%;border-radius: 13%; margin-top: 3px;}
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    font-size: small;
    font-family: monospace;
}


@media  (width < 700px ) {
    .galeria .planos{
        & img{
            width: 100%;
        }
    }
    .column{ 
        flex: 100%;
}
@media  (width < 400px ) {
   h2{font-size: medium;
    padding: 1%;}
   h3{font-size: medium;
padding: 1%;}
}


